.homePage {
    min-height: calc(100vh - 60px);
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.95),
            rgba(255, 255, 255, 0.95)),
        url("../../../public/noise-bg.webp");

    background-size: cover;
    background-position: center;
}
.heroSection {
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroContent {
    height: 376px;
    width: 1180px;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 397px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.leftTopHeading{
    font-family: Playfair Display, serif;
    color: #000000;
    font-size: 48px;
    font-weight: 700;
    line-height: 44px;
}
.leftTopTime{
    margin-top: 8px;
    font-family: Playfair Display, sans-serif;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}
.right{
    width: 773px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.leftBottom{
    display: flex;
    justify-content: space-between;
}
button:hover{
    cursor: pointer;
}
.shopNowButton{
    width: 265px;
    height: 40px;
    background-color: #D9D9D9;
    color: #000000;
}
.navigationButtons{
    width: 92px;
    display: flex;
    justify-content: space-between;
}
.moveButton{
    height: 40px;
    width: 40px;
    border: 1px solid #A3A3A3;
    color: #000000;
}